---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "@/layouts/BlogPost";
import Code from "@/components/mdx/Code";
import { getPosts } from "@/utils";
import SButton from "@/components/mdx/SButton";
import Disqus from "@/components/Disqus";

const posts = await getCollection("blog");

export interface props {
  post: CollectionEntry<"blog">;
}
export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const MAX_POSTS = 3;
const getRelatedPosts = (post: Props) => {
  const lowercaseTags = post.data.tags.map((tag: string) => tag.toLowerCase());
  const relatedPosts = posts.filter(
    (p) =>
      p.slug !== post.slug &&
      p.data.tags.some((t: string) => lowercaseTags.includes(t.toLowerCase())),
  );
  return relatedPosts.slice(0, MAX_POSTS);
};

// const relatedPosts = getRelatedPosts(post);

const { Content, headings, remarkPluginFrontmatter } = await post.render();

// const disqusEnabled = disqusConfig.enabled
---

<BlogPost
  id={post.id}
  data={post.data}
  headings={headings}
  readTime={remarkPluginFrontmatter.minutesRead}
  keywords={post.data.keywords}
  slug={post.slug}
>
  <!-- post -->
  <div class="w-full flex flex-col md:flex-row">
    <div class="w-1/5 md:block hidden"></div>
    <div class="md:w-3/5 w-full">
      <article class="max-w-full w-full flex flex-col items-center">
        <div
          class="prose prose-sm md:prose-lg prose-code:text-xs dark:prose-invert mb-12 px-4 max-w-[100vw] sm:text-start"
        >
          <!-- Horizontal ad -->
          <ins
            class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7415679537348503"
            data-ad-slot="2980813441"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
          <Content components={{ pre: Code, SButton }} />
        </div>
      </article>
    </div>
    <div class="w-full md:w-1/5 h-96 sticky top-10">
      <!-- Show ad -->
      <!-- Horizontal -->
      <div class="block md:hidden">
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7415679537348503"
          data-ad-slot="6073880646"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      </div>
      <!-- Vertical -->
      <div class="hidden md:block">
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7415679537348503"
          data-ad-slot="6073880646"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      </div>
    </div>
  </div>

  <Disqus slug={post.slug} />
</BlogPost>
