---
import type { CollectionEntry } from "astro:content";

import { cn } from "@/utils";
import { Image } from "astro:assets";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

<section class={cn(`flex flex-col md:flex-row sm:justify-between gap-2`)}>
  {
    posts.length > 0 ? (
      posts.map((post) => {
        return (
          <div class="flex flex-wrap">
            <div class="min-h-full">
              <Image
                src={post.data.heroImage}
                width={200}
                height={200}
                format="webp"
                class="w-16 h-16 object-cover rounded-full  "
                alt={`img of ${post.data.title}`}
              />
            </div>
            <span class="md:w-48 w-3/4 flex items-center pl-1">
              <a
                class="font-medium hover:underline hidden md:block"
                href={`/post/${post.slug}/`}
              >
                {post.data.title.length > 30
                  ? post.data.title.slice(0, 30) + "..."
                  : post.data.title}
              </a>
              <a
                class="font-medium hover:underline block md:hidden"
                href={`/post/${post.slug}/`}
              >
                {post.data.title}
              </a>
            </span>
          </div>
        );
      })
    ) : (
      <span class="text-gray-500">There are no related posts yet. 😢</span>
    )
  }
</section>
