---
import Footer from "@/components/Footer";
import Header from "@/components/HeaderX";
import GoogleTagHead from "@/components/GoogleTagHead";
import GoogleTagBody from "@/components/GoogleTagBody";
import ProviderTheme from "@/components/ProviderTheme";
import SquareLines from "@/components/square-lines";
import "@/styles/global.css";
import type { HeadCard } from "@/utils/types";
type Props = {
  title: string;
  meta: { name: string; content: string }[];
  ogMeta?: { property: string; content: string }[];
  headCard?: HeadCard;
};
const { title, meta, ogMeta, headCard } = Astro.props;
const card = headCard
  ? {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      headline: headCard?.headline,
      image: headCard.image,
      author: {
        "@type": "Person",
        name: "Muhabbat Ali",
      },
      publisher: {
        "@type": "Organization",
        name: "Muhabbat.dev",
        logo: {
          "@type": "ImageObject",
          url: "https://muhabbat.dev/assets/images/profile5.png",
        },
      },
      datePublished: headCard.publisher.datePublished,
      dateModified: headCard.publisher.datePublished,
      description: headCard.publisher.description,
      url: headCard.publisher.url,
    }
  : {};
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <GoogleTagHead />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    {meta.map((m: any) => <meta name={m.name} content={m.content} />)}
    {
      ogMeta?.map((m: any) => (
        <meta property={m.property} content={m.content} />
      )) ?? null
    }
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Muhabbat Dev Blog"
      href={`${Astro.url.origin}/rss.xml`}
    />
    <!-- Calendly badge widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>
    <script type="text/javascript">
      window.onload = function () {
        Calendly.initBadgeWidget({
          url: "https://calendly.com/muhabbat-ali/free-consultation",
          text: "Free Consultation",
          color: "#0069ff",
          textColor: "#ffffff",
        });
      };
    </script>
    <!-- <script
      async
      custom-element="amp-auto-ads"
      src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js" is:inline></script>
    <script
      async
      custom-element="amp-ad"
      src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" is:inline></script> -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7415679537348503"
      crossorigin="anonymous"
      is:inline></script>

    <script
      async
      type="application/javascript"
      src="https://news.google.com/swg/js/v1/swg-basic.js"
      is:inline></script>
    <script is:inline>
      (self.SWG_BASIC = self.SWG_BASIC || []).push((basicSubscriptions) => {
        basicSubscriptions.init({
          type: "NewsArticle",
          isPartOfType: ["Product"],
          isPartOfProductId: "CAow1q7BDA:openaccess",
          clientOptions: { theme: "light", lang: "en-GB" },
        });
      });
    </script>
    <!-- prettier-ignore -->
    <script type="application/ld+json" is:inline set:html={JSON.stringify(card)}></script>
    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
    <ProviderTheme />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <GoogleTagBody />
    <!-- <amp-auto-ads type="adsense" data-ad-client="ca-pub-7415679537348503" is:inline>
    </amp-auto-ads> -->
    <SquareLines />
    <Header />
    <!-- Horizontal -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7415679537348503"
      data-ad-slot="2980813441"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
