---
import type { CollectionEntry } from 'astro:content'
import MainLayout from '@/layouts/main'
import { Image } from 'astro:assets'
import ArrowUp from '@/components/icons/ArrowUp'

type Props = {
	id: CollectionEntry<'services'>['id']
	data: CollectionEntry<'services'>['data']
}

const { data } = Astro.props
const { title, thumbnail, link } = data

---

<MainLayout 
	title="Muhabbat Ali" 
	meta={[
  		{name: 'description', content: "muhabbat.dev is my personal portfolio and blog website."},
  		{name: 'keywords', content : 'full-stack developer, devops engineer, react js developer, node js developer, flutter developer, laravel developer, aws expert, mern stack developer, javascript developer, front-end developer, back-end developer, android developer, ios developer, cross-platform developer, programmer, tech & IT'}
	]}
	ogMeta={[
		{property : 'og:title', content: 'Muhabbat Dev | Services'},
		{property : 'og:description', content: "I offer Software Engineering and Development services on Fiverr."},
		{property : 'og:type', content: 'website'},
		{property : 'og:image', content: 'https://muhabbat-dev.github.io/public/assets/images/profile5.png'},
		{property : 'og:url', content: 'https://muhabbat.dev'}
	]}
>
	<article class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'>
		<>
			{
				thumbnail && (
					<Image
						src={thumbnail}
						width={832}
						height={500}
						quality={100}
						loading='eager'
						class='rounded-md w-full max-h-[500px]  md:max-h-[500px] my-8 object-cover'
						alt={`img of ${title}`}
					/>
				)
			}
		</>
		<header class='mb-3 gap-6'>
			<div class='flex flex-col gap-2'>
				<h1 class='text-center text-4xl md:text-6xl md:pb-2.5 font-semibold'>
					{title}
				</h1>
			</div>
		</header>
		<hr />
		<div>
			<slot />
		</div>
		<a
			href={link}
			target="_blank"
			class='flex justify-center items-center text-secondary dark:text-primary rounded-full hover:translate-x-1 transition-transform duration-150 ease-in-out font-semibold gap-1 group'
			aria-label={`go to ${title}`}
		>
			Open at Fiverr 
			<span
				class='mt-[1px] group-hover:rotate-45 transition-transform duration-250 ease-in-out'
				>
				<ArrowUp width='18' height='18' /></span>
		</a>
	</article>
</BaseLayout>

<script>
	const fnObserver = () => {
		function handleIntersection(
			entries: IntersectionObserverEntry[],
			observer: IntersectionObserver
		) {
			entries.forEach((entry) => {
				const index = document.querySelector(`aside a[href="#${entry.target.id}"]`)

				if (entry.isIntersecting) {
					index?.classList.remove('bg-slate-200', 'dark:bg-slate-800') // remove bg
					index?.classList.add(
						'bg-orange-600',
						'dark:bg-orange-700',
						'text-white',
						'font-bold',
						'transition-colors',
						'duration-200'
					)
				} else {
					index?.classList.add('bg-slate-200', 'dark:bg-slate-800') // add bg
					index?.classList.remove(
						'bg-orange-600',
						'dark:bg-orange-700',
						'text-white',
						'font-bold',
						'transition-colors',
						'duration-200'
					)
				}
			})
		}

		const headings = document.querySelectorAll(
			'div.prose h1, div.prose h2, div.prose h3, div.prose h4, div.prose h5, div.prose h6'
		)

		const options = {
			root: null,
			rootMargin: ' 15% 0px 0% 0px ',
			threshold: 1
		}

		const observer = new IntersectionObserver(handleIntersection, options)

		headings.forEach((heading) => {
			observer.observe(heading)
		})
	}
	fnObserver()
	document.addEventListener('astro:after-swap', fnObserver)
</script>
